# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# vite
/.vite/
/dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel
.next

# typescript
*.tsbuildinfo
next-env.d.ts

# TinyMCE local files
public/tinymce

certificates

tunnel.log
ssh_tunnel.pid
tunnel_manager.pid

# vite-plugin-api-routes
/.api

# data
/data

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions