@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* extra helper classes to account for mobile safe areas */
  .p-safe {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
      env(safe-area-inset-left);
  }
  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-right);
  }

  .m-safe {
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
      env(safe-area-inset-left);
  }
  .mx-safe {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }
  .my-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }
  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }
  .mr-safe {
    margin-right: env(safe-area-inset-right);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
  .ml-safe {
    margin-left: env(safe-area-inset-right);
  }

  .top-safe {
    top: 0;
    top: env(safe-area-inset-top);
  }
  .right-safe {
    right: 0;
    right: env(safe-area-inset-right);
  }
  .bottom-safe {
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
  }
  .left-safe {
    left: 0;
    left: env(safe-area-inset-right);
  }
}

/* Button */
.btn {
  @apply flex h-10 w-fit items-center overflow-hidden rounded px-4 pb-2 pt-2.5 font-bold hover:bg-opacity-95 active:bg-opacity-100;
}
.btn-teal {
  @apply btn bg-teal text-white;
}
.icon {
  @apply h-8 w-8 fill-current;
}

/* Spinner */
.loading-spinner {
  .circular {
    height: 25px;
    width: 25px;
    animation: loading-rotate 1.5s linear infinite;
  }
  .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-width: 5;
    stroke: currentColor;
  }
}
@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}

/* TinyMCE */
.tox-tinymce {
  border: 2px solid #e5e7eb !important;
}
.tox .tox-edit-area::before {
  border: 0 none !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: none !important;
  padding: 10px 0 0 0 !important;
  margin-bottom: -5px;
}
.tox-tooltip {
  display: none !important;
}
